@import "tailwindcss";

button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

button {
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 7px;
    border-radius: 10px;

}